<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.apps.straightface.gymstat">

    <application
        android:name=".GymStatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.RoutinesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.EditRoutineActivity"
            android:label="@string/edit_routine">
        </activity>
        <activity
            android:name=".Views.WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Views.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>